/*==================== FOOTER ====================*/
footer {
    text-align: center;
}

footer hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--white-color-secundaria), transparent);
}

footer h4 {
    font-size: clamp(.6rem, .4rem + .4vw, 4rem);
    font-weight: bold;
    color: var(--white-color);
}

footer a {
    font-size: clamp(.7rem, .5rem + .5vw, 5rem);
    font-weight: bold;
    background-image: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer img {
    padding-top: 10px;
    width: clamp(40px, 5%, 80px);
}