/*==================== HERO ====================*/
.img-home {
    position: relative;
    width: 100%;
}

.img-home::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(34, 35, 36, 0.3), #1E1E1E), url(/src/img/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    opacity: 0.5;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero img {
    width: clamp(100px, 15%, 250px);
    border: 2px solid var(--blue-color);
    border-radius: 44% 56% 70% 30% / 30% 30% 70% 70%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text h1 {
    font-size: clamp(1.3rem, .5rem + 3vw, 1.8rem);
    font-weight: 800;
    color: var(--white-color);
    text-align: center;
}

.text h1 span {
    color: var(--blue-color);
}

.text p {
    font-size: clamp(.75rem, .4rem + 1.5vw, 1.1rem);
    color: var(--white-color);
    text-align: center;
}

.text a {
    font-size: clamp(.6rem, .3rem + 1.1vw, 1rem);
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 15px;
    background-image: var(--gradient-color);
    letter-spacing: 2px;
    transition: 0.9s;
    border-radius: 10px;
}

.text a:hover {
    letter-spacing: 6px;
    background-color: var(--blue-color);
    transition: 0.9s;
}

.social {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.social i {
    font-size: clamp(1.2rem, .6rem + 1.4vw, 1.5rem);
    color: var(--white-color);
}

.social i:hover {
    transform: translateY(-8px) scale(1.1);
    color: var(--blue-color);
    transition: 0.9s;
}

.arrow-down {
    display: none;
    position: absolute;
    bottom: 4%;
    z-index: 1;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}