:root {
    --sb-size: 10px;
    --sb-track-color: #063044;
    --white-color: #FFFF;
    --black-color: #000000;
    --background-color: #1E1E1E;
    --blue-color: #03a9f4;
    --white-color-secundaria: rgb(255 255 255 / 75%);
    --bg-cards: rgb(16 16 16);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Space Mono', monospace;
    background: var(--background-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 10px;
}

.img-home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-home::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(34, 35, 36, 0.3), #1E1E1E), url(/src/img/Background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    opacity: 0.5;
}

.container {
    padding-inline: 15vw;
}

/*  --------------------NAVBAR------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.logo {
    color: var(--white-color);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--white-color);
    position: relative;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-link:hover::after {
    width: 100%;
}

/*  --------------------HERO------------------------*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 160px;
}

.hero img {
    width: 25rem;
    height: 25rem;
    border-radius: 53% 47% 70% 30% / 36% 30% 70% 64%;
}

.text h1 {
    font-size: 35px;
    font-weight: 800;
    color: var(--white-color);
    line-height: 1em;
}

.text h1 span {
    color: var(--blue-color);
}

.text h2 {
    margin-top: 10px;
    font-size: 75px;
    color: var(--white-color);
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 70px;
    margin-top: -15px;
    color: var(--white-color);
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 17.6px;
    color: var(--white-color);
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    color: var(--white-color);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    color: var(--white-color);
    background-image: linear-gradient(to bottom, #0baff9, #3bade8, #54aad7, #68a7c6, #78a3b7);
    letter-spacing: 2px;
    transition: 0.9s;
    border-radius: 10px;
}

.text a:hover {
    letter-spacing: 6px;
    background-color: var(--blue-color);
    transition: 0.9s;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.social i {
    color: var(--white-color);
}

.social i:hover {
    transform: translateY(-8px) scale(1.1);
    color: var(--blue-color);
    transition: 0.9s;
}

/*  --------------------ABOUT------------------------*/

.about {
    margin-top: 150px;
}

.about-title {
    margin-bottom: 50px;
    font-size: 3.125rem;
    font-weight: 700;
    color: var(--white-color);
}

.about-title span {
    color: var(--blue-color);
}

.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--white-color);
}

.about-img-col-1 {
    flex-basis: 40%;
}

.about-img-col-1 img {
    width: 100%;
    border-radius: 10px;

}

.about-col-2 {
    flex-basis: 55%;
}

.about-col-2 p {
    font-size: 16px;
}

.about-tab {
    display: flex;
    margin: 20px 0 40px;
    gap: 40px;
}

.tablinks {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tablinks.active {
    color: var(--blue-color);
}

.tablinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}

.tablinks.active::after {
    width: 100%;
}

.tabcontent {
    color: var(--white-color-secundaria);
    background-color: var(--bg-cards);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -5px -5px 15px rgb(25, 25, 25);
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px,
            transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    border-radius: 10px;
}


.tabcontent p,
li {
    text-align: justify;
    padding: 25px 25px;
}

.tabcontent ul li {
    list-style: none;
}

.skill-name {
    margin: 10px 0;
}

.skill-name span {
    color: var(--blue-color);
    font-weight: 600;
    font-size: 14px;
}

.expand {
    position: relative;
    height: 350px;
    overflow: hidden;
    padding-bottom: 30px;
    text-align: center;
}

.expander {
    position: absolute;
    background: rgba(3, 169, 244, 0.45);
    backdrop-filter: blur(2.9px);
    bottom: 0;
    width: 100%;
    height: 25px;
    cursor: pointer;
}

/*  --------------------SERVICES------------------------*/
.services {
    margin-top: 150px;
}

.services-title {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
}

.services-content {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.services-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--bg-cards);
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -5px -5px 15px rgb(25, 25, 25);
    border-radius: 10px;
    padding: 1rem;
}

.services-card:after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, var(--blue-color), transparent);
    box-shadow: 0 0 30px var(--blue-color);
    opacity: 0;
}

.services-card:hover:after {
    top: 25%;
    opacity: 1;
}

.card-content {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px,
            transparent 1px);
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 2.3rem;
    border-radius: 1.25rem;
    overflow: hidden;
    border-radius: 10px;
}

.card-content i {
    color: var(--white-color-secundaria);
}

.card-content h2 {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.card-content p {
    color: rgb(255 255 255 / 75%);
    line-height: 1.3rem;
}

.card-content a {
    color: var(--blue-color);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    background: linear-gradient(transparent, transparent);
    letter-spacing: 2px;
    transition: 0.9s;
}

.card-content a:hover {
    letter-spacing: 6px;
    transition: 0.9s;
}

/*  --------------------PROJETOS------------------------*/
.projetos {
    margin-top: 150px;
    margin-bottom: 300px;
}

.projetos-title {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
}

.projetos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.projetos-cards {
    position: relative;
    width: 600px;
    height: 450px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
}


.projetos-cards img {
    width: 100%;
    border-radius: 10px;
}

.projetos-cards h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--blue-color);
}

.projetos-cards p {
    color: var(--white-color-secundaria);
    line-height: 1.2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.9s ease;
    pointer-events: none;
}

.projetos-cards:hover .overlay {
    opacity: 0.7;
    pointer-events: auto;
}

.card-btn {
    width: 190px;
}

.card-btn i {
    color: var(--blue-color);
    cursor: pointer;
}

.projetos-cards .card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color-secundaria);
    border-radius: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    border: none;
    opacity: 0;
    scale: 0;
    transform-origin: 0 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.9s cubic-bezier(0.23, 1, 0.320, 1);
}

.projetos-cards:hover .card-btn {
    opacity: 1;
    scale: 1;
}

.projetos-cards .card-btn:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.projetos-cards .card-btn:active {
    scale: 0.95;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-15deg, var(--blue-color) 40%, rgb(3, 33, 73) 60%);
    transition: transform 0.1s ease;
}

.projetos-cards:hover .overlay::after {
    transform: translate(-50%, -50%) scale(2);
}

/*  --------------------CONTACT------------------------*/

.contact {
    margin-top: 150px;
    margin-bottom: 300px;
    color: var(--white-color);
}

.title-contact {
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    color: var(--white-color);
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-row-1,
.contact-row-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.contact-social {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contact-social i {
    color: var(--white-color);
}

.input-group {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    position: relative;
    --primary: var(--blue-color);
}

.input {
    all: unset;

    padding: 1rem;
    border: 1px solid var(--white-color-secundaria);
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--white-color-secundaria);
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border: 1px solid var(--blue-color)
}

.input:is(:focus, :valid)~label {
    transform: translateY(-120%) scale(0.7);
    background-color: #1a1a1a;
    padding-inline: 0.3rem;
    color: var(--blue-color);
}