@import url(/src/css/navbar.css);
@import url(/src/css/hero.css);
@import url(/src/css/about.css);
@import url(/src/css/services.css);
@import url(/src/css/projects.css);
@import url(/src/css/contact.css);
@import url(/src/css/footer.css);

/*==================== BASE ====================*/
:root {
    --sb-size: 10px;
    --sb-track-color: #063044;

    --white-color: #FFFF;
    --black-color: #000000;
    --background-color: #1E1E1E;
    --blue-color: rgba(96, 13, 255, 1);
    --white-color-secundaria: rgb(255 255 255 / 75%);
    --gradient-color: linear-gradient(160deg, #600dff 0%, #58b4d8 100%);
    --bg-cards: rgb(16 16 16);
    --max-width: 1280px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Space Mono', monospace;
    background: var(--background-color);
    color: var(--white-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 100px 40px;
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: 100;
    transition: .4s;
}

.scrollup:hover {
    color: var(--blue-color);
}

.scrollup_icon {
    font-size: 1.5rem;
    color: var(--white-color);
}

/* Show scroll */
.show-scroll {
    bottom: 5rem;
}

/*========== SCROLL BAR ==========*/
body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 10px;
}


/*==================== MEDIA QUERIES ====================*/

/* TABLET */
@media screen and (min-width:768px) {
    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    }

    .nav_icon,
    .nav_toggle,
    .nav_close {
        display: none;
    }

    .nav_list {
        display: flex;
        gap: 0rem;
    }

    .nav_menu {
        margin-left: auto;
    }

    .nav_link {
        position: relative;
    }

    .nav_link::after {
        content: '';
        width: 0;
        height: 3px;
        background: var(--blue-color);
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    .nav_link:hover::after {
        width: 100%;
    }

    .hero {
        height: 100vh;
    }

    .about-img-col-2 {
        display: flex;
    }

    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        margin-top: 50px;
        color: var(--white-color);
    }

    .projects-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, auto));
        align-items: center;
        gap: 2.3rem;
        margin-top: 4.2rem;
    }

    .card-text {
        width: 100%;
        height: 90px;
    }

    .contact-content {
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .contact-row-1 {
        text-align: start;
    }

    .contact-row-1-content {
        align-items: start;
    }


    .contact-row-1-social {
        justify-content: start;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .header {
        padding: 0;
    }

    .nav {
        padding: 40px 50px;
    }

    .nav_logo {
        width: 50px;
    }

    .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 3rem;
    }

    .contact-copy-email {
        justify-content: flex-start;
    }

}